@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.container{
  width: 100%;
  max-width: 890px;
  margin: 0 auto;
}

h1{
  margin-top: 60px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
}

